# Xcode
*.xcuserdata/
*.xcscmblueprint
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
xcuserdata/
*.xccheckout
*.xcworkspace/xcuserdata/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Derived data
*.hmap
*.ipa
*.xcarchive
